langchain==0.0.265
faiss-cpu
openai
tiktoken
docx2txt
pillow
pypdf
tenacity
sqlalchemy<2.0.0
pyodbc
tabulate
azure-cosmos
botbuilder-integration-aiohttp>=4.14.4
streamlit
python-dotenv
azure-ai-formrecognizer
