{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.kraken.com/0",
      "description": "Production Server"
    }
  ],
  "info": {
    "title": "REST API",
    "version": "1.1.0",
    "x-logo": {
      "url": "kraken_logo_w.png",
      "altText": "Kraken Logo"
    },
    "description": "# General Usage\nThis document details use of Kraken's REST API for our Spot exchange. The Spot exchange [Websockets API](https://docs.kraken.com/websockets) and the [Kraken Futures APIs](https://docs.futures.kraken.com/) are documented separately. Our REST API is organised into publicly accessible endpoints (market data, exchange status, etc.), and private authenticated endpoints (trading, funding, user data) which require requests to be signed.\n\nYour use of the Kraken REST API is subject to the [Kraken Terms & Conditions](https://www.kraken.com/legal), [Privacy Notice](http://www.kraken.com/legal/privacy), as well as all other applicable terms and disclosures made available on [www.kraken.com](http://www.kraken.com/).\n\n## Support\nFurther information and FAQs may be found on the [API section](https://support.kraken.com/hc/en-us/sections/4402371110548-API) of our support pages. If you have trouble making any standard requests that our system permits, please [send us a ticket](https://support.kraken.com/hc/en-us/requests/new?ticket_form_id=360000104043) with a full copy of the request(s) that you're attempting, including your IP address and all headers, so that we may investigate further.\n\n## Requests, Responses and Errors\n\n### Requests\nRequest payloads are [form-encoded](https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST) (`Content-Type: application/x-www-form-urlencoded`), and all requests must specify a `User-Agent` in their headers.\n\n### Responses\nResponses are JSON encoded and contain one or two top-level keys (`result` and `error` for successful requests or those with warnings, or only `error` for failed or rejected requests)\n\n#### Example Successful Response\n```javascript\n{\n  \"error\": [],\n  \"result\": {\n    \"status\": \"online\",\n    \"timestamp\": \"2021-03-22T17:18:03Z\"\n  }\n}\n```\n> GET https://api.kraken.com/0/public/SystemStatus\n\n#### Example Rejection\n```javascript\n{\n  \"error\": [\n    \"EGeneral:Invalid arguments:ordertype\"\n  ]\n}\n```\n\n### Error Details\n\nHTTP status codes are generally not used by our API to convey information about the state of requests -- any errors or warnings are denoted in the `error` field of the response as described above. Status codes __other__ than 200 indicate that there was an issue with the request reaching our servers.\n\n`error` messages follow the general format `<severity><category>`:`<error msg>`[`:add'l text`]\n\n* `severity` can be either `E` for error or `W` for warning\n* `category` can be one of `General`, `Auth`, `API`, `Query`, `Order`, `Trade`, `Funding`, or `Service`\n* `error msg` can be any text string that describes the reason for the error\n\n#### Some Common Examples\n\n| Error | Additional Info |\n| -- | -- |\n| EGeneral:Invalid arguments | The request payload is malformed, incorrect or ambiguous |\n| EGeneral:Invalid arguments:Index unavailable |  Index pricing is unavailable for stop/profit orders on this pair |\n| EGeneral:Temporary lockout | Too many sequential EAPI:Invalid key errors |\n| EService:Unavailable | The matching engine or API is offline |\n| EService:Market in cancel_only mode | Request can't be made at this time (See `SystemStatus` endpoint) |\n| EService:Market in post_only mode | Request can't be made at this time (See `SystemStatus` endpoint) |   \n| EService:Deadline elapsed | The request timed out according to the default or specified `deadline` |\n| EAPI:Invalid key | An invalid `API-Key` header was supplied (see Authentication section) |\n| EAPI:Invalid signature | An invalid `API-Sign` header was supplied (see Authentication section) |\n| EAPI:Invalid nonce | An invalid `nonce` was supplied (see Authentication section) |\n| EGeneral:Permission denied | API key doesn't have permission to make this request |    \n| EOrder:Cannot open position | User/tier is ineligible for margin trading |\n| EOrder:Margin allowance exceeded | User has exceeded their margin allowance |\n| EOrder:Margin level too low | Client has insufficient equity or collateral |\n| EOrder:Margin position size exceeded | Client would exceed the maximum position size for this pair |\n| EOrder:Insufficient margin | Exchange does not have available funds for this margin trade |\n| EOrder:Insufficient funds | Client does not have the necessary funds |\n| EOrder:Order minimum not met | Order size does not meet `ordermin` (See `AssetPairs` endpoint)  |\n| EOrder:Cost minimum not met | Cost (price * volume) does not meet `costmin` (See `AssetPairs` endpoint) |\n| EOrder:Tick size check failed | Price submitted is not a valid multiple of the pair's tick_size (See `AssetPairs` endpoint) |\n| EOrder:Orders limit exceeded | (See Rate Limits section) |\n| EOrder:Rate limit exceeded | (See Rate Limits section) |\n| EOrder:Domain rate limit exceeded | (See Rate Limits section) |\n| EOrder:Positions limit exceeded |  |\n| EOrder:Unknown position |  |\n| EBM:limit exceeded:CAL | Exceeded [Canadian Acquisition Limits (CAL)](https://support.kraken.com/hc/en-us/articles/15568473780628-CAD-net-purchase-limits-for-certain-cryptocurrencies-in-Canada) |\n| EFunding:Max fee exceeded | Processed fee exceeds `max_fee` set in `Withdraw` request |\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/360001491786-API-error-messages).\n\n\n\n# Authentication\n\nAuthenticated requests must include both `API-Key` and `API-Sign` HTTP headers, and `nonce` in the request payload. `otp` is also required in the payload if two-factor authentication (2FA) is enabled.\n\n\n## Nonce and 2FA\n\n### `nonce`\n\nNonce must be an always increasing, unsigned 64-bit integer, for each request that is made with a particular API key. While a simple counter would provide a valid nonce, a more usual method of generating a valid nonce is to use e.g. a UNIX timestamp in milliseconds.\n\n> **Note:** There is no way to reset the nonce for an API key to a lower value, so be sure to use a nonce generation method that won't produce numbers less than the previous nonce. Too many requests with invalid nonces (EAPI:Invalid nonce) can result in temporary bans. Problems can arise from requests arriving out of order due to API keys being shared across processes, or from system clock drift/recalibration. An optional \"nonce window\" can be configured to specify a tolerance between nonce values. Additional info can be found in our [support pages](https://support.kraken.com/hc/en-us/articles/360000906023-What-is-a-nonce-).\n\n### `otp`\n\nIf two-factor authentication (2FA) is enabled for the API key and action in question, the one time password must be specified in the payload's `otp` value.\n\n\n## Headers and Signature\n\nAll responses will include the `x-trace-id` header. This uniquely identifies your request. When contacting support, please include a trace-id where possible.\n\n<SecurityDefinitions />\n\n# Rate Limits\n\nWe have various safeguards in place to protect against system abuse, order book manipulation, DDoS attacks, etc. For REST API requests, these are broadly organised into rate limits specific to the REST API, and rate limits which apply to any trading requests.\n\n> __Note:__ For clients with performance sensitive applications, we strongly recommend the use of our Websockets API for minimising request latency and receiving real-time information, reducing or eliminating the need to frequently poll REST endpoints.\n\n## REST API Rate Limits\n\n### Limits\n\nEvery REST API user has a \"call counter\" which starts at `0`. Ledger/trade history calls increase the counter by `2`. All other API calls increase this counter by `1` (except AddOrder, CancelOrder which operate on a different limiter detailed further below).\n\n| Tier         | Max API Counter | API Counter Decay |\n| ------------ | --------------- | ----------------- |\n| Starter      | 15              | -0.33/sec         |\n| Intermediate | 20              | -0.5/sec          |\n| Pro          | 20              | -1/sec            |\n\nThe user's counter is reduced every couple of seconds depending on their verification tier. Each API key's counter is separate, and if the counter exceeds the maximum value, subsequent calls using that API key would be rate limited. If the rate limits are reached, additional calls will be restricted for a few seconds (or possibly longer if calls continue to be made while the rate limits are active).\n\n> __Note:__ Master accounts and subaccounts will share the same default trading rate limits as determined by the master account's tier. \n\n### Errors\n\n* \"EAPI:Rate limit exceeded\" if the REST API counter exceeds the user's maximum.\n* \"EService: Throttled: [UNIX timestamp]\" if there are too many concurrent requests. Try again after [timestamp].\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/206548367-What-are-the-API-rate-limits-).\n\n## Matching Engine Rate Limits\n\n### Limits\n\nSeparate limits apply to the number of orders clients may have open in each pair at a time, and the speed with which they may add and cancel orders in each pair. These limits vary by the account verification tier: \n\n| Tier      | Max Num Orders | Max Ratecount | Ratecount Decay |\n| ----------- | ----------- | ----------- | ----------- |\n| Starter      | 60       | 60 | -1/sec |\n| Intermediate   | 80 | 125 | -2.34/sec |\n| Pro     | 225 | 180 | -3.75/sec |\n\n### Penalties\n\nThe speed is controlled by a ratecounter for each (client, pair) which starts at zero, is incremented when penalties are applied, and decremented according to the decay rates above. A penalty is added to the ratecounter for each new order placed (`AddOrder`) or cancelled (`CancelOrder`, `CancelAll`, `CancelAllOrdersAfter`) on the pair. The cancellation penalty varies according to the lifetime of the order.\n\n| Action       |      | <5sec  | <10sec | <15sec | <45sec | <90sec | <300s | >300s |\n| ------------ | --   | -- | -- | -- | -- | -- | -- | -- |\n| Add Order    | +1   |    |    |    |    |    |    |    |\n| AddOrderBatch***| +(n/2)|    |    |    |    |    |    |    |\n| Edit Order   |      | +6 | +5 | +4 | +2 | +1 | 0  | 0  |\n| Cancel Order |      | +8 | +6 | +5 | +4 | +2 | +1 | 0 |\n| CancelOrderBatch** |      | +8 | +6 | +5 | +4 | +2 | +1 | 0 |\n\n*** n is number of orders in batch\n\n** Rate limits penalty for CancelOrderBatch will be cumulative sum of individual orders penalty, accumulated upto max ratecount. In case, the cumulative penalty in the batch exceeds max ratecount, cancel requests in batch are still accepted.\n\n> __Note:__ A client's exact ratecounter values can be monitored via the Websockets [openOrders](https://docs.kraken.com/websockets/#message-openOrders) feed.\n\n### Errors\n\n* \"EOrder:Orders limit exceeded\" if the number of open orders in a given pair is exceeded\n* \"EOrder:Rate limit exceeded\" if the user's max ratecount is exceeded for a given pair\n\nAdditional information can be found on our [support center](https://support.kraken.com/hc/en-us/articles/360045239571).\n\n# Changelog\n\n* Feb 2024 - Added `maker` and `ledgers` fields to `TradesHistory` and `QueryTrades`.\n* Jan 2024 - Removed support for POST requests to all public endpoints; these requests will now return a 4xx error, please use a GET request instead. Added notes to Balance and Ledger endpoints on migration from Staking to Earn and asset suffixes.\n* Dec 2023 - Added support for `trailing-stop` and `trailing-stop-limit` order types.\n* Nov 2023 - Added `WithdrawMethods` and `WithdrawAddresses` endpoints, and `start`, `end`, `cursor`, and `limit` parameters to `WithdrawStatus`.\n* Oct 2023 - Added `max_fee` parameter to `Withdraw` and `minimum` field in response for `DepositMethods`.\n* Sep 2023 - Added `start`, `end`, `cursor`, and `limit` parameters to `DepositStatus`.\n* Aug 2023 - Added Earn service documentation.\n* July 2023 - Added private `BalanceEx` documentation.\n* June 2023 - Added `amount` parameter to `DepositAddresses`, required for Bitcoin Lightning deposits. Added `count` parameter to `Trades`.\n* May 2023 - Added `address` parameter to `Withdraw`. Added `since` parameter to `Spread`.\n* Mar 2023 - Added `originators` paramater to `DepositStatus`.\n* Feb 2023 - Added long and short margin position limits to `AssetPairs`.\n* Feb 2023 - Specified minimum and maximum number of `txid`s and `userref`s for `CancelOrderBatch`.\n* Feb 2023 - Specified maximum number of responses for `DepositStatus` and `WithdrawStatus`.\n* Feb 2023 - Noted to use `%2b` instead of `+` for URL encoding in `AddOrder` `starttm` and `expiretm` parameters.\n* Jan 2023 - Removed requirement for `asset` in `DepositStatus` and `WithdrawalStatus`.\n* Jan 2023 - Documented `reduce_only` parameter in `AddOrder` and `AddOrderBatch`.\n* Jan 2023 - Added `consolidate_taker` to `TradesHistory`, `ClosedOrders`, and `QueryOrders`.\n* Jan 2023 - Added Subaccounts section with `CreateSubaccount` and `AccountTransfer` endpoints.\n* Jan 2023 - Added `trade_id` to private `TradesHistory`.\n* Dec 2022 - Fixed `pair` parameter restriction on `TradeVolume`.\n* Dec 2022 - `EditOrder` allowed on margin orders.\n* Nov 2022 - Added `tick_size` and `status` parameters to `AssetPairs`, `status` and `collateral_value` to `Assets`, and `trade_id ` to public `Trades`.\n* Oct 2022 - Documented `uv` (unexecuted value) field in `TradeBalance`.\n* Oct 2022 - Added `costmin` trading parameter to `AssetPairs`.\n* Oct 2022 - `Ticker` wildcard support - `pair` no longer required, no `pair` parameter returns tickers for all tradeable exchange assets.\n* Sep 2022 - `AddOrder`/`EditOrder`/`AddOrderBatch` now support icebergs.\n* July 2022 - Added support for restricting API keys to specified IP address(es)/range.\n* June 2022 - Added custom self trade prevention options.\n* May 2022 - Added new REST `AddOrderBatch` endpoint to send multiple new orders and `CancelOrderBatch` endpoint to cancel multiple open orders.\n* Mar 2022 - Added new REST `EditOrder` endpoint to edit volume and price on open orders.\n* Dec 2021 - Added REST `AddOrder` support for optional parameter `trigger` and values `last` (last traded price) and `index`.\n\n\n\n**Note:** Most changes affecting our APIs or trading engine behaviour are currently being tracked on our [Websockets](https://docs.kraken.com/websockets/#changelog) changelog, until these documents are combined.\n\n# Example API Clients\n\nIn order to achieve maximum performance, security and flexibility for your particular needs, we strongly encourage the implementation of this API with your own code, and to minimise reliance on third party software.\n\nThat being said, in order to aid with rapid development and prototyping, we're in the process of producing 'official' API clients in Python and Golang that will be actively maintained, coincident with the release of newer versions of both our Websockets and REST APIs. In the meantime, our Client Engagement team has compiled a number of [code snippets, examples and Postman collections](https://support.kraken.com/hc/en-us/sections/360003946512-Example-API-Code) that many find useful. \n\n### Third Party Software\n\nBelow are other third party API client code libraries that may be used when writing your own API client. Please keep in mind that Payward nor the third party authors are responsible for losses due to bugs or improper use of the APIs. Payward has performed an initial review of the safety of the third party code before listing them but cannot vouch for any changes added since then, or for those that may be stale. If you have concerns, please contact support.\n\n| Language      | Link |\n| ----------- | ----------- |\n| C++ | [https://github.com/voidloop/krakenapi](https://github.com/voidloop/krakenapi) |\n| Golang | [https://github.com/Beldur/kraken-go-api-client](https://github.com/Beldur/kraken-go-api-client) |\n| Python 3 | [https://github.com/veox/python3-krakenex](https://github.com/veox/python3-krakenex)       |\n\nOther \n"
  },
  "paths": {
    "/public/Time": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Server Time",
        "x-summary": "Test123",
        "description": "Get the server's time.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "operationId": "getServerTime",
        "security": [],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/time"
                },
                "example": {
                  "error": [],
                  "result": {
                    "unixtime": 1688669448,
                    "rfc1123": "Thu, 06 Jul 23 18:50:48 +0000"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Time\""
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Time')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/SystemStatus": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get System Status",
        "description": "Get the current system status or trading mode. \n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "operationId": "getSystemStatus",
        "security": [],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "online",
                            "maintenance",
                            "cancel_only",
                            "post_only"
                          ],
                          "description": "Current system status:\n* `online`  Kraken is operating normally. All order types may be submitted and trades can occur.\n* `maintenance`  The exchange is offline. No new orders or cancellations may be submitted.\n* `cancel_only`  Resting (open) orders can be cancelled but no new orders may be submitted. No trades will occur.\n* `post_only`  Only post-only limit orders can be submitted. Existing orders may still be cancelled. No trades will occur.\n"
                        },
                        "timestamp": {
                          "type": "string",
                          "description": "Current timestamp (RFC3339)"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/error"
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "status": "online",
                    "timestamp": "2023-07-06T18:52:00Z"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/SystemStatus\""
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/SystemStatus')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Assets": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Asset Info",
        "description": "Get information about the assets that are available for deposit, withdrawal, trading and staking.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "operationId": "getAssetInfo",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/asset"
          },
          {
            "$ref": "#/components/parameters/aclass"
          }
        ],
        "responses": {
          "200": {
            "description": "Asset info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/info-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBT": {
                      "aclass": "currency",
                      "altname": "XBT",
                      "decimals": 10,
                      "display_decimals": 5,
                      "collateral_value": 1,
                      "status": "enabled"
                    },
                    "ZEUR": {
                      "aclass": "currency",
                      "altname": "EUR",
                      "decimals": 4,
                      "display_decimals": 2,
                      "collateral_value": 1,
                      "status": "enabled"
                    },
                    "ZUSD": {
                      "aclass": "currency",
                      "altname": "USD",
                      "decimals": 4,
                      "display_decimals": 2,
                      "collateral_value": 1,
                      "status": "enabled"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Assets\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Assets')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/AssetPairs": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Get Tradable Asset Pairs",
        "description": "Get tradable asset pairs.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "operationId": "getTradableAssetPairs",
        "security": [],
        "parameters": [
          {
            "in": "query",
            "name": "pair",
            "description": "Asset pairs to get data for",
            "schema": {
              "type": "string"
            },
            "example": "BTC/USD,ETH/BTC"
          },
          {
            "in": "query",
            "name": "info",
            "schema": {
              "type": "string",
              "enum": [
                "info",
                "leverage",
                "fees",
                "margin"
              ],
              "default": "info"
            },
            "description": "Info to retrieve (optional)\n\n  * `info` = all info\n  * `leverage` = leverage info\n  * `fees` = fees schedule\n  * `margin` = margin info\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Tradable asset pairs retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "Pair names and their info",
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/pairs"
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/error"
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "XETHXXBT": {
                      "altname": "ETHXBT",
                      "wsname": "ETH/XBT",
                      "aclass_base": "currency",
                      "base": "XETH",
                      "aclass_quote": "currency",
                      "quote": "XXBT",
                      "lot": "unit",
                      "cost_decimals": 6,
                      "pair_decimals": 5,
                      "lot_decimals": 8,
                      "lot_multiplier": 1,
                      "leverage_buy": [
                        2,
                        3,
                        4,
                        5
                      ],
                      "leverage_sell": [
                        2,
                        3,
                        4,
                        5
                      ],
                      "fees": [
                        [
                          0,
                          0.26
                        ],
                        [
                          50000,
                          0.24
                        ],
                        [
                          100000,
                          0.22
                        ],
                        [
                          250000,
                          0.2
                        ],
                        [
                          500000,
                          0.18
                        ],
                        [
                          1000000,
                          0.16
                        ],
                        [
                          2500000,
                          0.14
                        ],
                        [
                          5000000,
                          0.12
                        ],
                        [
                          10000000,
                          0.1
                        ]
                      ],
                      "fees_maker": [
                        [
                          0,
                          0.16
                        ],
                        [
                          50000,
                          0.14
                        ],
                        [
                          100000,
                          0.12
                        ],
                        [
                          250000,
                          0.1
                        ],
                        [
                          500000,
                          0.08
                        ],
                        [
                          1000000,
                          0.06
                        ],
                        [
                          2500000,
                          0.04
                        ],
                        [
                          5000000,
                          0.02
                        ],
                        [
                          10000000,
                          0
                        ]
                      ],
                      "fee_volume_currency": "ZUSD",
                      "margin_call": 80,
                      "margin_stop": 40,
                      "ordermin": "0.01",
                      "costmin": "0.00002",
                      "tick_size": "0.00001",
                      "status": "online",
                      "long_position_limit": 1100,
                      "short_position_limit": 400
                    },
                    "XXBTZUSD": {
                      "altname": "XBTUSD",
                      "wsname": "XBT/USD",
                      "aclass_base": "currency",
                      "base": "XXBT",
                      "aclass_quote": "currency",
                      "quote": "ZUSD",
                      "lot": "unit",
                      "cost_decimals": 5,
                      "pair_decimals": 1,
                      "lot_decimals": 8,
                      "lot_multiplier": 1,
                      "leverage_buy": [
                        2,
                        3,
                        4,
                        5
                      ],
                      "leverage_sell": [
                        2,
                        3,
                        4,
                        5
                      ],
                      "fees": [
                        [
                          0,
                          0.26
                        ],
                        [
                          50000,
                          0.24
                        ],
                        [
                          100000,
                          0.22
                        ],
                        [
                          250000,
                          0.2
                        ],
                        [
                          500000,
                          0.18
                        ],
                        [
                          1000000,
                          0.16
                        ],
                        [
                          2500000,
                          0.14
                        ],
                        [
                          5000000,
                          0.12
                        ],
                        [
                          10000000,
                          0.1
                        ]
                      ],
                      "fees_maker": [
                        [
                          0,
                          0.16
                        ],
                        [
                          50000,
                          0.14
                        ],
                        [
                          100000,
                          0.12
                        ],
                        [
                          250000,
                          0.1
                        ],
                        [
                          500000,
                          0.08
                        ],
                        [
                          1000000,
                          0.06
                        ],
                        [
                          2500000,
                          0.04
                        ],
                        [
                          5000000,
                          0.02
                        ],
                        [
                          10000000,
                          0
                        ]
                      ],
                      "fee_volume_currency": "ZUSD",
                      "margin_call": 80,
                      "margin_stop": 40,
                      "ordermin": "0.0001",
                      "costmin": "0.5",
                      "tick_size": "0.1",
                      "status": "online",
                      "long_position_limit": 250,
                      "short_position_limit": 200
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/AssetPairs?pair=XXBTZUSD,XETHXXBT\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/AssetPairs?pair=XXBTZUSD,XETHXXBT')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Ticker": {
      "get": {
        "summary": "Get Ticker Information",
        "description": "Get ticker information for all or requested markets. To clarify usage, note that:\n* Today's prices start at midnight UTC\n* Leaving the pair parameter blank will return tickers for all tradeable assets on Kraken\n\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Market Data"
        ],
        "operationId": "getTickerInformation",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/wildcard_pair"
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ticker-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": {
                      "a": [
                        "30300.10000",
                        "1",
                        "1.000"
                      ],
                      "b": [
                        "30300.00000",
                        "1",
                        "1.000"
                      ],
                      "c": [
                        "30303.20000",
                        "0.00067643"
                      ],
                      "v": [
                        "4083.67001100",
                        "4412.73601799"
                      ],
                      "p": [
                        "30706.77771",
                        "30689.13205"
                      ],
                      "t": [
                        34619,
                        38907
                      ],
                      "l": [
                        "29868.30000",
                        "29868.30000"
                      ],
                      "h": [
                        "31631.00000",
                        "31631.00000"
                      ],
                      "o": "30502.80000"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Ticker?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Ticker?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/OHLC": {
      "get": {
        "summary": "Get OHLC Data",
        "description": "Get OHLC (open/high/low/close, otherwise known as candle) data for a given market. Note that the last entry in the OHLC array is for the current, not-yet-committed frame and will always be present, regardless of the value of `since`.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Market Data"
        ],
        "operationId": "getOHLCData",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/pair"
          },
          {
            "name": "interval",
            "description": "Time frame interval in minutes",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "enum": [
                1,
                5,
                15,
                30,
                60,
                240,
                1440,
                10080,
                21600
              ]
            },
            "example": 60
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return up to 720 OHLC data points since given timestamp",
            "schema": {
              "type": "integer"
            },
            "example": 1548111600
          }
        ],
        "responses": {
          "200": {
            "description": "OHLC data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ohlc"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": [
                      [
                        1688671200,
                        "30306.1",
                        "30306.2",
                        "30305.7",
                        "30305.7",
                        "30306.1",
                        "3.39243896",
                        23
                      ],
                      [
                        1688671260,
                        "30304.5",
                        "30304.5",
                        "30300.0",
                        "30300.0",
                        "30300.0",
                        "4.42996871",
                        18
                      ],
                      [
                        1688671320,
                        "30300.3",
                        "30300.4",
                        "30291.4",
                        "30291.4",
                        "30294.7",
                        "2.13024789",
                        25
                      ],
                      [
                        1688671380,
                        "30291.8",
                        "30295.1",
                        "30291.8",
                        "30295.0",
                        "30293.8",
                        "1.01836275",
                        9
                      ]
                    ],
                    "last": 1688672160
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/OHLC?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/OHLC?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Depth": {
      "get": {
        "summary": "Get Order Book",
        "description": "Get current order book details.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Market Data"
        ],
        "operationId": "getOrderBook",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/pair"
          },
          {
            "name": "count",
            "description": "Maximum number of asks/bids",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Order book entries retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/depth"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": {
                      "asks": [
                        [
                          "30384.10000",
                          "2.059",
                          1688671659
                        ],
                        [
                          "30387.90000",
                          "1.500",
                          1688671380
                        ],
                        [
                          "30393.70000",
                          "9.871",
                          1688671261
                        ]
                      ],
                      "bids": [
                        [
                          "30297.00000",
                          "1.115",
                          1688671636
                        ],
                        [
                          "30296.70000",
                          "2.002",
                          1688671674
                        ],
                        [
                          "30289.80000",
                          "5.001",
                          1688671673
                        ]
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Depth?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Depth?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Trades": {
      "get": {
        "summary": "Get Recent Trades",
        "description": "Returns the last 1000 trades by default.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Market Data"
        ],
        "operationId": "getRecentTrades",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/pair"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Return trade data since given timestamp",
            "schema": {
              "type": "string"
            },
            "example": "1616663618"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Return specific number of trades, up to 1000",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 1000
            },
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "Trade data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/trades"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": [
                      [
                        "30243.40000",
                        "0.34507674",
                        1688669597.8277369,
                        "b",
                        "m",
                        "",
                        61044952
                      ],
                      [
                        "30243.30000",
                        "0.00376960",
                        1688669598.2804112,
                        "s",
                        "l",
                        "",
                        61044953
                      ],
                      [
                        "30243.30000",
                        "0.01235716",
                        1688669602.698379,
                        "s",
                        "m",
                        "",
                        61044956
                      ]
                    ],
                    "last": "1688671969993150842"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Trades?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Trades?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/public/Spread": {
      "get": {
        "summary": "Get Recent Spreads",
        "description": "Returns the last ~200 top-of-book spreads for a given pair.\n> Note: Despite working previously, POST requests to this endpoint will now return a 4xx error. Please use a GET request instead.\n",
        "tags": [
          "Market Data"
        ],
        "operationId": "getRecentSpreads",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/pair"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Returns spread data since given timestamp. Optional, intended for incremental updates within available dataset (does not contain all historical spreads).",
            "schema": {
              "type": "integer"
            },
            "example": 1678219570
          }
        ],
        "responses": {
          "200": {
            "description": "Spread data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/spread-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "XXBTZUSD": [
                      [
                        1688671834,
                        "30292.10000",
                        "30297.50000"
                      ],
                      [
                        1688671834,
                        "30292.10000",
                        "30296.70000"
                      ],
                      [
                        1688671834,
                        "30292.70000",
                        "30296.70000"
                      ]
                    ],
                    "last": 1688672106
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl \"https://api.kraken.com/0/public/Spread?pair=XBTUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import requests\n\nresp = requests.get('https://api.kraken.com/0/public/Spread?pair=XBTUSD')\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/GetWebSocketsToken": {
      "post": {
        "summary": "Get Websockets Token",
        "description": "An authentication token must be requested via this REST API endpoint in order to connect to and authenticate with our [Websockets API](https://docs.kraken.com/websockets/#authentication). The token should be used within 15 minutes of creation, but it does not expire once a successful Websockets connection and private subscription has been made and is maintained.\n\n**API Key Permissions Required:** `WebSocket interface - On`\n",
        "tags": [
          "Websockets Authentication"
        ],
        "operationId": "getWebsocketsToken",
        "requestBody": {
          "$ref": "#/components/requestBodies/nonceOnly"
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/GetWebSocketsToken\" \\\n    -H 'API-Key: <YOUR-API-KEY>' \\\n    -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n    -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n    --data-urlencode \"nonce=<YOUR-NONCE>\" \n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\nresp = kraken_request('/0/private/GetWebSocketsToken', {\n    \"nonce\": str(int(1000*time.time()))\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ],
        "responses": {
          "200": {
            "description": "Websockets token retrieved.",
            "content": {
              "application/json": {
                "example": {
                  "error": [],
                  "result": {
                    "token": "1Dwc4lzSwNWOAwkMdqhssNNFhs1ed606d1WcF3XfEMw",
                    "expires": 900
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "description": "Websockets token",
                          "type": "string"
                        },
                        "expires": {
                          "description": "Time (in seconds) after which the token expires",
                          "type": "integer"
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/error"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/private/Balance": {
      "post": {
        "summary": "Get Account Balance",
        "description": "Retrieve all cash balances, net of pending withdrawals.\n\n> **Note on Staking/Earn assets:** We have begun to migrate assets from our legacy Staking system over to a new Earn system. As such, the following assets may appear in your balances and ledger. Please see our [Support article](https://support.kraken.com/hc/en-us/articles/360039879471-What-is-Asset-S-and-Asset-M-) for more details.\n> * `.B`, which represents balances in new yield-bearing products, similar to `.S` (staked) and `.M` (opt-in rewards) balances\n> * `.F`, which represents balances earning automatically in Kraken Rewards\n\n**API Key Permissions Required:** `Funds permissions - Query`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getAccountBalance",
        "requestBody": {
          "$ref": "#/components/requestBodies/nonceOnly"
        },
        "responses": {
          "200": {
            "description": "Account balances retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/balance-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "ZUSD": "171288.6158",
                    "ZEUR": "504861.8946",
                    "XXBT": "1011.1908877900",
                    "XETH": "818.5500000000",
                    "USDT": "500000.00000000",
                    "DAI": "9999.9999999999",
                    "DOT": "2.5000000000",
                    "ETH2.S": "198.3970800000",
                    "ETH2": "2.5885574330",
                    "USD.M": "1213029.2780"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/Balance\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/Balance', {\n    \"nonce\": str(int(1000*time.time()))\n}, api_key, api_sec)\n\nprint(resp.json())        \n"
          }
        ]
      }
    },
    "/private/BalanceEx": {
      "post": {
        "summary": "Get Extended Balance",
        "description": "Retrieve all extended account balances, including credits and held amounts. Balance available for trading is calculated as: `available balance = balance + credit - credit_used - hold_trade`\n\n> **Note on Staking/Earn assets:** We have begun to migrate assets from our legacy Staking system over to a new Earn system. As such, the following assets may appear in your balances and ledger. Please see our [Support article](https://support.kraken.com/hc/en-us/articles/360039879471-What-is-Asset-S-and-Asset-M-) for more details.\n> * `.B`, which represents balances in new yield-bearing products, similar to `.S` (staked) and `.M` (opt-in rewards) balances\n> * `.F`, which represents balances earning automatically in Kraken Rewards\n\n**API Key Permissions Required:** `Funds permissions - Query`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getExtendedBalance",
        "requestBody": {
          "$ref": "#/components/requestBodies/nonceOnly"
        },
        "responses": {
          "200": {
            "description": "Extended account balances retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/balanceex-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "ZUSD": {
                      "balance": 25435.21,
                      "hold_trade": 8249.76
                    },
                    "XXBT": {
                      "balance": 1.2435,
                      "hold_trade": 0.8423
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/BalanceEx\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/BalanceEx', {\n    \"nonce\": str(int(1000*time.time()))\n}, api_key, api_sec)\n\nprint(resp.json())        \n"
          }
        ]
      }
    },
    "/private/TradeBalance": {
      "post": {
        "summary": "Get Trade Balance",
        "description": "Retrieve a summary of collateral balances, margin position valuations, equity and margin level.\n\n**API Key Permissions Required:** `Orders and trades - Query open orders & trades`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getTradeBalance",
        "requestBody": {
          "$ref": "#/components/requestBodies/balance"
        },
        "responses": {
          "200": {
            "description": "Trade balances retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/balance-4"
                },
                "example": {
                  "error": [],
                  "result": {
                    "eb": "1101.3425",
                    "tb": "392.2264",
                    "m": "7.0354",
                    "n": "-10.0232",
                    "c": "21.1063",
                    "v": "31.1297",
                    "e": "382.2032",
                    "mf": "375.1678",
                    "ml": "5432.57"
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/TradeBalance\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&asset=ZUSD\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/TradeBalance', {\n    \"nonce\": str(int(1000*time.time())),\n    \"asset\": \"USD\"\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/OpenOrders": {
      "post": {
        "summary": "Get Open Orders",
        "description": "Retrieve information about currently open orders.\n\n**API Key Permissions Required:** `Orders and trades - Query open orders & trades`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getOpenOrders",
        "requestBody": {
          "$ref": "#/components/requestBodies/openOrders"
        },
        "responses": {
          "200": {
            "description": "Open orders info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/open-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "open": {
                      "OQCLML-BW3P3-BUCMWZ": {
                        "refid": "None",
                        "userref": 0,
                        "status": "open",
                        "opentm": 1688666559.8974,
                        "starttm": 0,
                        "expiretm": 0,
                        "descr": {
                          "pair": "XBTUSD",
                          "type": "buy",
                          "ordertype": "limit",
                          "price": "30010.0",
                          "price2": "0",
                          "leverage": "none",
                          "order": "buy 1.25000000 XBTUSD @ limit 30010.0",
                          "close": ""
                        },
                        "vol": "1.25000000",
                        "vol_exec": "0.37500000",
                        "cost": "11253.7",
                        "fee": "0.00000",
                        "price": "30010.0",
                        "stopprice": "0.00000",
                        "limitprice": "0.00000",
                        "misc": "",
                        "oflags": "fciq",
                        "trades": [
                          "TCCCTY-WE2O6-P3NB37"
                        ]
                      },
                      "OB5VMB-B4U2U-DK2WRW": {
                        "refid": "None",
                        "userref": 45326,
                        "status": "open",
                        "opentm": 1688665899.5699,
                        "starttm": 0,
                        "expiretm": 0,
                        "descr": {
                          "pair": "XBTUSD",
                          "type": "buy",
                          "ordertype": "limit",
                          "price": "14500.0",
                          "price2": "0",
                          "leverage": "5:1",
                          "order": "buy 0.27500000 XBTUSD @ limit 14500.0 with 5:1 leverage",
                          "close": ""
                        },
                        "vol": "0.27500000",
                        "vol_exec": "0.00000000",
                        "cost": "0.00000",
                        "fee": "0.00000",
                        "price": "0.00000",
                        "stopprice": "0.00000",
                        "limitprice": "0.00000",
                        "misc": "",
                        "oflags": "fciq"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/OpenOrders\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&trades=true\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/OpenOrders', {\n    \"nonce\": str(int(1000*time.time())),\n    \"trades\": True\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/ClosedOrders": {
      "post": {
        "summary": "Get Closed Orders",
        "description": "Retrieve information about orders that have been closed (filled or cancelled). 50 results are returned at a time, the most recent by default.\n\n**Note:** If an order's tx ID is given for `start` or `end` time, the order's opening time (`opentm`) is used\n\n**API Key Permissions Required:** `Orders and trades - Query closed orders & trades`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getClosedOrders",
        "requestBody": {
          "$ref": "#/components/requestBodies/closedOrders"
        },
        "responses": {
          "200": {
            "description": "Closed orders info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/closed-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "closed": {
                      "O37652-RJWRT-IMO74O": {
                        "refid": "None",
                        "userref": 1,
                        "status": "canceled",
                        "reason": "User requested",
                        "opentm": 1688148493.7708,
                        "closetm": 1688148610.0482,
                        "starttm": 0,
                        "expiretm": 0,
                        "descr": {
                          "pair": "XBTGBP",
                          "type": "buy",
                          "ordertype": "stop-loss-limit",
                          "price": "23667.0",
                          "price2": "0",
                          "leverage": "none",
                          "order": "buy 0.00100000 XBTGBP @ limit 23667.0",
                          "close": ""
                        },
                        "vol": "0.00100000",
                        "vol_exec": "0.00000000",
                        "cost": "0.00000",
                        "fee": "0.00000",
                        "price": "0.00000",
                        "stopprice": "0.00000",
                        "limitprice": "0.00000",
                        "misc": "",
                        "oflags": "fciq",
                        "trigger": "index"
                      },
                      "O6YDQ5-LOMWU-37YKEE": {
                        "refid": "None",
                        "userref": 36493663,
                        "status": "canceled",
                        "reason": "User requested",
                        "opentm": 1688148493.7708,
                        "closetm": 1688148610.0477,
                        "starttm": 0,
                        "expiretm": 0,
                        "descr": {
                          "pair": "XBTEUR",
                          "type": "buy",
                          "ordertype": "take-profit-limit",
                          "price": "27743.0",
                          "price2": "0",
                          "leverage": "none",
                          "order": "buy 0.00100000 XBTEUR @ limit 27743.0",
                          "close": ""
                        },
                        "vol": "0.00100000",
                        "vol_exec": "0.00000000",
                        "cost": "0.00000",
                        "fee": "0.00000",
                        "price": "0.00000",
                        "stopprice": "0.00000",
                        "limitprice": "0.00000",
                        "misc": "",
                        "oflags": "fciq",
                        "trigger": "index"
                      }
                    },
                    "count": 2
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/ClosedOrders\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&trades=true\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/ClosedOrders', {\n    \"nonce\": str(int(1000*time.time())),\n    \"userref\": 36493663\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/QueryOrders": {
      "post": {
        "summary": "Query Orders Info",
        "description": "Retrieve information about specific orders.\n\n**API Key Permissions Required:** `Orders and trades - Query open orders & trades` or `Orders and trades - Query closed orders & trades`, depending on status of order\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getOrdersInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/query"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Orders info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/query-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "OBCMZD-JIEE7-77TH3F": {
                      "refid": "None",
                      "userref": 0,
                      "status": "closed",
                      "reason": null,
                      "opentm": 1688665496.7808,
                      "closetm": 1688665499.1922,
                      "starttm": 0,
                      "expiretm": 0,
                      "descr": {
                        "pair": "XBTUSD",
                        "type": "buy",
                        "ordertype": "stop-loss-limit",
                        "price": "27500.0",
                        "price2": "0",
                        "leverage": "none",
                        "order": "buy 1.25000000 XBTUSD @ limit 27500.0",
                        "close": ""
                      },
                      "vol": "1.25000000",
                      "vol_exec": "1.25000000",
                      "cost": "27526.2",
                      "fee": "26.2",
                      "price": "27500.0",
                      "stopprice": "0.00000",
                      "limitprice": "0.00000",
                      "misc": "",
                      "oflags": "fciq",
                      "trigger": "index",
                      "trades": [
                        "TZX2WP-XSEOP-FP7WYR"
                      ]
                    },
                    "OMMDB2-FSB6Z-7W3HPO": {
                      "refid": "None",
                      "userref": 0,
                      "status": "closed",
                      "reason": null,
                      "opentm": 1688592012.2317,
                      "closetm": 1688592012.2335,
                      "starttm": 0,
                      "expiretm": 0,
                      "descr": {
                        "pair": "XBTUSD",
                        "type": "sell",
                        "ordertype": "market",
                        "price": "0",
                        "price2": "0",
                        "leverage": "none",
                        "order": "sell 0.25000000 XBTUSD @ market",
                        "close": ""
                      },
                      "vol": "0.25000000",
                      "vol_exec": "0.25000000",
                      "cost": "7500.0",
                      "fee": "7.5",
                      "price": "30000.0",
                      "stopprice": "0.00000",
                      "limitprice": "0.00000",
                      "misc": "",
                      "oflags": "fcib",
                      "trades": [
                        "TJUW2K-FLX2N-AR2FLU"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/QueryOrders\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&trades=true\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/QueryOrders', {\n    \"nonce\": str(int(1000*time.time())),\n    \"txid\": \"OBCMZD-JIEE7-77TH3F,OMMDB2-FSB6Z-7W3HPO\",\n    \"trades\": True\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/TradesHistory": {
      "post": {
        "summary": "Get Trades History",
        "description": "Retrieve information about trades/fills. 50 results are returned at a time, the most recent by default.\n* Unless otherwise stated, costs, fees, prices, and volumes are specified with the precision for the asset pair (`pair_decimals` and `lot_decimals`), not the individual assets' precision (`decimals`).\n\n**API Key Permissions Required:** `Orders and trades - Query closed orders & trades`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getTradeHistory",
        "requestBody": {
          "$ref": "#/components/requestBodies/history"
        },
        "responses": {
          "200": {
            "description": "Trade history retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/history-2"
                },
                "example": {
                  "error": [],
                  "result": {
                    "trades": {
                      "THVRQM-33VKH-UCI7BS": {
                        "ordertxid": "OQCLML-BW3P3-BUCMWZ",
                        "postxid": "TKH2SE-M7IF5-CFI7LT",
                        "pair": "XXBTZUSD",
                        "time": 1688667796.8802,
                        "type": "buy",
                        "ordertype": "limit",
                        "price": "30010.00000",
                        "cost": "600.20000",
                        "fee": "0.00000",
                        "vol": "0.02000000",
                        "margin": "0.00000",
                        "misc": "",
                        "ledgers": [
                          "L4JP5S-GWFOA-EANKPU",
                          "LPHHII-KGAWE-Q2FR5R"
                        ],
                        "trade_id": 40274859,
                        "maker": true
                      },
                      "TCWJEG-FL4SZ-3FKGH6": {
                        "ordertxid": "OQCLML-BW3P3-BUCMWZ",
                        "postxid": "TKH2SE-M7IF5-CFI7LT",
                        "pair": "XXBTZUSD",
                        "time": 1688667769.6396,
                        "type": "buy",
                        "ordertype": "limit",
                        "price": "30010.00000",
                        "cost": "300.10000",
                        "fee": "0.00000",
                        "vol": "0.01000000",
                        "margin": "0.00000",
                        "misc": "",
                        "ledgers": [
                          "L2KP1S-GFFIA-EDNHPU",
                          "LPSHAH-KQAVE-Q4FR9L"
                        ],
                        "trade_id": 39482674,
                        "maker": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/TradesHistory\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&trades=true\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/TradesHistory', {\n    \"nonce\": str(int(1000*time.time()))\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/QueryTrades": {
      "post": {
        "summary": "Query Trades Info",
        "description": "Retrieve information about specific trades/fills.\n\n**API Key Permissions Required:** `Orders and trades - Query closed orders & trades`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getTradesInfo",
        "requestBody": {
          "$ref": "#/components/requestBodies/query"
        },
        "responses": {
          "200": {
            "description": "Trades info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "description": "Trade info",
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "txid",
                        "$ref": "#/components/schemas/trade-2"
                      }
                    },
                    "error": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/error"
                      }
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "THVRQM-33VKH-UCI7BS": {
                      "ordertxid": "OQCLML-BW3P3-BUCMWZ",
                      "postxid": "TKH2SE-M7IF5-CFI7LT",
                      "pair": "XXBTZUSD",
                      "time": 1688667796.8802,
                      "type": "buy",
                      "ordertype": "limit",
                      "price": "30010.00000",
                      "cost": "600.20000",
                      "fee": "0.00000",
                      "vol": "0.02000000",
                      "margin": "0.00000",
                      "misc": "",
                      "trade_id": 93748276,
                      "maker": true
                    },
                    "TTEUX3-HDAAA-RC2RUO": {
                      "ordertxid": "OH76VO-UKWAD-PSBDX6",
                      "postxid": "TKH2SE-M7IF5-CFI7LT",
                      "pair": "XXBTZEUR",
                      "time": 1688082549.3138,
                      "type": "buy",
                      "ordertype": "limit",
                      "price": "27732.00000",
                      "cost": "0.20020",
                      "fee": "0.00000",
                      "vol": "0.00020000",
                      "margin": "0.00000",
                      "misc": "",
                      "trade_id": 74625834,
                      "maker": true
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/QueryTrades\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&txid=TRWCIF-3MJWU-5DYJG5,TNGJFU-5CD67-ZV3AEO\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/QueryTrades', {\n    \"nonce\": str(int(1000*time.time())),\n    \"txid\": \"THVRQM-33VKH-UCI7BS,TTEUX3-HDAAA-RC2RUO\"\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/OpenPositions": {
      "post": {
        "summary": "Get Open Positions",
        "description": "Get information about open margin positions.\n\n**API Key Permissions Required:** `Orders and trades - Query open orders & trades`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getOpenPositions",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "required": [
                  "nonce"
                ],
                "properties": {
                  "nonce": {
                    "$ref": "#/components/schemas/nonce"
                  },
                  "txid": {
                    "type": "string",
                    "description": "Comma delimited list of txids to limit output to"
                  },
                  "docalcs": {
                    "type": "boolean",
                    "description": "Whether to include P&L calculations",
                    "default": false
                  },
                  "consolidation": {
                    "type": "string",
                    "description": "Consolidate positions by market/pair",
                    "enum": [
                      "market"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Open positions info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "x-additionalPropertiesName": "txid",
                        "properties": {
                          "ordertxid": {
                            "type": "string",
                            "description": "Order ID responsible for the position"
                          },
                          "posstatus": {
                            "type": "string",
                            "description": "Position status",
                            "enum": [
                              "open"
                            ]
                          },
                          "pair": {
                            "type": "string",
                            "description": "Asset pair"
                          },
                          "time": {
                            "type": "number",
                            "description": "Unix timestamp of trade"
                          },
                          "type": {
                            "type": "string",
                            "description": "Direction (buy/sell) of position"
                          },
                          "ordertype": {
                            "type": "string",
                            "description": "Order type used to open position"
                          },
                          "cost": {
                            "type": "string",
                            "description": "Opening cost of position (in quote currency)"
                          },
                          "fee": {
                            "type": "string",
                            "description": "Opening fee of position (in quote currency)"
                          },
                          "vol": {
                            "type": "string",
                            "description": "Position opening size (in base currency)"
                          },
                          "vol_closed": {
                            "type": "string",
                            "description": "Quantity closed (in base currency)"
                          },
                          "margin": {
                            "type": "string",
                            "description": "Initial margin consumed (in quote currency)"
                          },
                          "value": {
                            "type": "string",
                            "description": "Current value of remaining position (if `docalcs` requested)"
                          },
                          "net": {
                            "type": "string",
                            "description": "Unrealised P&L of remaining position (if `docalcs` requested)"
                          },
                          "terms": {
                            "type": "string",
                            "description": "Funding cost and term of position"
                          },
                          "rollovertm": {
                            "type": "string",
                            "description": "Timestamp of next margin rollover fee"
                          },
                          "misc": {
                            "type": "string",
                            "description": "Comma delimited list of add'l info"
                          },
                          "oflags": {
                            "type": "string",
                            "description": "Comma delimited list of opening order flags"
                          }
                        }
                      }
                    },
                    "error": {
                      "$ref": "#/components/schemas/error"
                    }
                  }
                },
                "example": {
                  "error": [],
                  "result": {
                    "TF5GVO-T7ZZ2-6NBKBI": {
                      "ordertxid": "OLWNFG-LLH4R-D6SFFP",
                      "posstatus": "open",
                      "pair": "XXBTZUSD",
                      "time": 1605280097.8294,
                      "type": "buy",
                      "ordertype": "limit",
                      "cost": "104610.52842",
                      "fee": "289.06565",
                      "vol": "8.82412861",
                      "vol_closed": "0.20200000",
                      "margin": "20922.10568",
                      "value": "258797.5",
                      "net": "+154186.9728",
                      "terms": "0.0100% per 4 hours",
                      "rollovertm": "1616672637",
                      "misc": "",
                      "oflags": ""
                    },
                    "T24DOR-TAFLM-ID3NYP": {
                      "ordertxid": "OIVYGZ-M5EHU-ZRUQXX",
                      "posstatus": "open",
                      "pair": "XXBTZUSD",
                      "time": 1607943827.3172,
                      "type": "buy",
                      "ordertype": "limit",
                      "cost": "145756.76856",
                      "fee": "335.24057",
                      "vol": "8.00000000",
                      "vol_closed": "0.00000000",
                      "margin": "29151.35371",
                      "value": "240124.0",
                      "net": "+94367.2314",
                      "terms": "0.0100% per 4 hours",
                      "rollovertm": "1616672637",
                      "misc": "",
                      "oflags": ""
                    },
                    "TYMRFG-URRG5-2ZTQSD": {
                      "ordertxid": "OF5WFH-V57DP-QANDAC",
                      "posstatus": "open",
                      "pair": "XXBTZUSD",
                      "time": 1610448039.8374,
                      "type": "buy",
                      "ordertype": "limit",
                      "cost": "0.00240",
                      "fee": "0.00000",
                      "vol": "0.00000010",
                      "vol_closed": "0.00000000",
                      "margin": "0.00048",
                      "value": "0",
                      "net": "+0.0006",
                      "terms": "0.0100% per 4 hours",
                      "rollovertm": "1616672637",
                      "misc": "",
                      "oflags": ""
                    },
                    "TAFGBN-TZNFC-7CCYIM": {
                      "ordertxid": "OF5WFH-V57DP-QANDAC",
                      "posstatus": "open",
                      "pair": "XXBTZUSD",
                      "time": 1610448039.8448,
                      "type": "buy",
                      "ordertype": "limit",
                      "cost": "2.40000",
                      "fee": "0.00264",
                      "vol": "0.00010000",
                      "vol_closed": "0.00000000",
                      "margin": "0.48000",
                      "value": "3.0",
                      "net": "+0.6015",
                      "terms": "0.0100% per 4 hours",
                      "rollovertm": "1616672637",
                      "misc": "",
                      "oflags": ""
                    },
                    "T4O5L3-4VGS4-IRU2UL": {
                      "ordertxid": "OF5WFH-V57DP-QANDAC",
                      "posstatus": "open",
                      "pair": "XXBTZUSD",
                      "time": 1610448040.7722,
                      "type": "buy",
                      "ordertype": "limit",
                      "cost": "21.59760",
                      "fee": "0.02376",
                      "vol": "0.00089990",
                      "vol_closed": "0.00000000",
                      "margin": "4.31952",
                      "value": "27.0",
                      "net": "+5.4133",
                      "terms": "0.0100% per 4 hours",
                      "rollovertm": "1616672637",
                      "misc": "",
                      "oflags": ""
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n\n# Construct the request and print the result\nresp = kraken_request('/0/private/OpenPositions', {\n    \"nonce\": str(int(1000*time.time())),\n    \"docalcs\": True\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/Ledgers": {
      "post": {
        "summary": "Get Ledgers Info",
        "description": "Retrieve information about ledger entries. 50 results are returned at a time, the most recent by default.\n\n> **Note on Staking/Earn assets:** We have begun to migrate assets from our legacy Staking system over to a new Earn system. As such, the following assets may appear in your balances and ledger. Please see our [Support article](https://support.kraken.com/hc/en-us/articles/360039879471-What-is-Asset-S-and-Asset-M-) for more details.\n> * `.B`, which represents balances in new yield-bearing products, similar to `.S` (staked) and `.M` (opt-in rewards) balances\n> * `.F`, which represents balances earning automatically in Kraken Rewards\n\n**API Key Permissions Required:** `Data - Query ledger entries`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getLedgers",
        "requestBody": {
          "$ref": "#/components/requestBodies/info"
        },
        "responses": {
          "200": {
            "description": "Ledgers info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/info-3"
                },
                "example": {
                  "error": [],
                  "result": {
                    "ledger": {
                      "L4UESK-KG3EQ-UFO4T5": {
                        "refid": "TJKLXF-PGMUI-4NTLXU",
                        "time": 1688464484.1787,
                        "type": "trade",
                        "subtype": "",
                        "aclass": "currency",
                        "asset": "ZGBP",
                        "amount": "-24.5000",
                        "fee": "0.0490",
                        "balance": "459567.9171"
                      },
                      "LMKZCZ-Z3GVL-CXKK4H": {
                        "refid": "TBZIP2-F6QOU-TMB6FY",
                        "time": 1688444262.8888,
                        "type": "trade",
                        "subtype": "",
                        "aclass": "currency",
                        "asset": "ZUSD",
                        "amount": "0.9852",
                        "fee": "0.0010",
                        "balance": "52732.1132"
                      }
                    },
                    "count": 2
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/Ledgers\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>\"\n"
          },
          {
            "lang": "Python",
            "source": "import time\nimport os\nimport requests\n\n# Read Kraken API key and secret stored in environment variables\napi_url = \"https://api.kraken.com\"\napi_key = os.environ['API_KEY_KRAKEN']\napi_sec = os.environ['API_SEC_KRAKEN']\n\n# Attaches auth headers and returns results of a POST request\ndef kraken_request(uri_path, data, api_key, api_sec):\n    headers = {}\n    headers['API-Key'] = api_key\n    # get_kraken_signature() as defined in the 'Authentication' section\n    headers['API-Sign'] = get_kraken_signature(uri_path, data, api_sec)             \n    req = requests.post((api_url + uri_path), headers=headers, data=data)\n    return req\n    \n# Construct the request and print the result\nresp = kraken_request('/0/private/Ledgers', {\n    \"nonce\": str(int(1000*time.time())),\n    \"asset\": \"GBP\",\n    \"start\": 1610124514\n}, api_key, api_sec)\n\nprint(resp.json())\n"
          }
        ]
      }
    },
    "/private/QueryLedgers": {
      "post": {
        "summary": "Query Ledgers",
        "description": "Retrieve information about specific ledger entries. \n\n> **Note on Staking/Earn assets:** We have begun to migrate assets from our legacy Staking system over to a new Earn system. As such, the following assets may appear in your balances and ledger. Please see our [Support article](https://support.kraken.com/hc/en-us/articles/360039879471-What-is-Asset-S-and-Asset-M-) for more details.\n> * `.B`, which represents balances in new yield-bearing products, similar to `.S` (staked) and `.M` (opt-in rewards) balances\n> * `.F`, which represents balances earning automatically in Kraken Rewards\n\n**API Key Permissions Required:** `Data - Query ledger entries`\n",
        "tags": [
          "Account Data"
        ],
        "operationId": "getLedgersInfo",
        "requestBody": {
          "$ref": "#/components/requestBodies/query-2"
        },
        "responses": {
          "200": {
            "description": "Ledgers info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/query-3"
                },
                "example": {
                  "error": [],
                  "result": {
                    "L4UESK-KG3EQ-UFO4T5": {
                      "refid": "TJKLXF-PGMUI-4NTLXU",
                      "time": 1688464484.1787,
                      "type": "trade",
                      "subtype": "",
                      "aclass": "currency",
                      "asset": "ZGBP",
                      "amount": "-24.5000",
                      "fee": "0.0490",
                      "balance": "459567.9171"
                    }
                  }
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "cURL",
            "source": "curl -X \"POST\" \"https://api.kraken.com/0/private/QueryLedgers\" \\\n     -H 'API-Key: <YOUR-API-KEY>' \\\n     -H 'API-Sign: <YOUR-MSG-SIGNATURE>' \\\n     -H 'Content-Type: application/x-www-form-urlencoded; charset=utf-8' \\\n     --data-urlencode \"nonce=<YOUR-NONCE>&id=LGBRJU-SQZ4L-5HLS3C,L3S26P-BHIOV-TTWYYI\"\n"
          },
          {
            "lang": "Python",
[...]
